<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267961763454-nci6j802djh79siduhlu2i7lcgo98tdn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267961763454-nci6j802djh79siduhlu2i7lcgo98tdn</string>
	<key>API_KEY</key>
	<string>AIzaSyC4auiA9nDxjysjjPpa6Wgd5egWbXyLs5w</string>
	<key>GCM_SENDER_ID</key>
	<string>267961763454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inw.sjmc2</string>
	<key>PROJECT_ID</key>
	<string>sjmc-256608</string>
	<key>STORAGE_BUCKET</key>
	<string>sjmc-256608.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267961763454:ios:aef35b8e33ef1373543a2f</string>
	<key>DATABASE_URL</key>
	<string>https://sjmc-256608.firebaseio.com</string>
</dict>
</plist>